<%- include('includes/head') %>
<%- include('includes/nav') %>
<div class="container text-white">
  <div class="row">
    <div class="col-lg-2"> </div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Create account or Sign in</h1>
      <p class="text-center lead">Login or Create your account below</p>
      
      <div class="row">
        <div class="col-lg">
          <h4>Make your registration</h4>
          <p>If you don't have an account yet, fill out the form below</p>

          <%- include('includes/messages') %>
          
          <form action="/login/register" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <div class="form-group mb-3">
              <label>Your email</label>
              <input type="email" class="form-control" name="email" >
            </div>
            <div class="form-group mb-3">
              <label>Your password</label>
              <input type="password" class="form-control" name="password" >
            </div>
            <button type="submit" class="btn btn-primary">Create my account</button>
          </form>
        </div>

        <div class="col-lg">
          <h4>Sign in</h4>
          <p>If you already have an account, log in below:</p>
          
          <form action="/login/login" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <div class="form-group mb-3">
              <label>Your email</label>
              <input type="email" class="form-control" name="email" >
            </div>
            <div class="form-group mb-3">
              <label>Your password</label>
              <input type="password" class="form-control" name="password" >
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>

        </div>
      </div>
    </div>

    <div class="col-lg-2"> </div>
  </div>
</div>
<%- include('includes/footer') %>

    
